<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Test</title>
		<!-- templates -->
		
		<script type="text/template" id="howtoItemTemplate">
			<%= action %> <%= variable %>
		</script>

		<script type="text/template" id="spinnerTemplate">
		</script>

		<script type="text/template" id="baseViewTemplate">
			<h2 class="assistance-base__headline">Headline</h2>
			<span class="assistance-base__close" data-action="close">X</span>
			<p class="assistance-base__explanation">Some explanations maybe</p>
			<div class='assistance-base__content'>
			</div>
		</script>

		<script type="text/template" id="panelViewTemplate">
			<div class="assistance-comic__panel-wrapper">
				<img class="assistance-comic__panel-image" src="<%= image_url %>" alt="picture"/>
			</div>
			<div class="assistance-comic__panel-caption">
				<div class="assistance-comic__panel-caption-content"><%= caption %>
				</div>
			</div>
		</script>

		<script type="text/template" id="comicViewTemplate">
		
		</script>

		<script type="text/template" id="listViewTemplate">
			<div class="assistance-howto__list-content">
			</div>
		</script>

		<!-- other stuff -->
		<link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="style.css" />
		<script src="libs/jquery.js"></script>
		<script src="libs/jquery-ui-core.js"></script>
		<script src="libs/imagesloaded.js"></script>
		<script src="libs/underscore.js"></script>
		<script src="libs/backbone.js"></script>
		<script src="libs/backbone.marionette.js"></script>
		<script src="libs/d3.js"></script>
		<script src="libs/d3-plugin.js"></script>
		<script src="libs/models/AssistanceHowtoItemModel.js"></script>
		<script src="libs/models/AssistancePanelModel.js"></script>
		<script src="libs/models/AssistanceOperationPanelModel.js"></script>
		<script src="libs/models/AssistanceHowtoCollection.js"></script>
		<script src="libs/views/AssistanceSpinner.js"></script>
		<script src="libs/views/AssistanceBaseView.js"></script>
		<script src="libs/views/AssistancePanelView.js"></script>
		<script src="libs/views/AssistanceOperationPanelView.js"></script>
		<script src="libs/views/AssistanceComicBaseView.js"></script>
		<script src="libs/views/AssistanceHowtoItemView.js"></script>
		<script src="libs/views/AssistanceHowtoListView.js"></script>
		<script src="libs/views/AssistanceComicView.js"></script>
		<script type="text/javascript">
			$( document ).ready( function() {

				$( ".button" ).click( function() {
					var item = new assistance.HowtoItem({
						"component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"action": "sort",
						"variable": "player",
						"capability": "cap01",
						"elements": "rect:nth-child(even)",
						"component": "#barchart",
						"visualization": "#barchart > svg"
					});
					var item2 = new assistance.HowtoItem({
						"component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"action": "display",
						"capability": "cap02",
						"elements": "rect:nth-child(odd)",
						"component": "#barchart",
						"visualization": "#barchart > svg"
					});
					var items = new assistance.HowtoCollection();
					items.add( item );
					items.add( item2 );
					var listbase = new assistance.BaseView({
						"type": "howto",
						"component": "#barchart"
					});
					var list = new assistance.HowtoListView({
						"collection": items,
						"itemView": assistance.HowtoItemView,
						"model": assistance.HowtoItem
					});
					listbase.content.show( list );
				});
			});
		</script>
	</head>
	<body>
		<h1>hooray for backbone</h1>

		<div class="button">Start help</div>

		<div id="barchart">
			<svg>
				<rect class="bar" x="20px" y="120px" width="40px" height="280px" />
				<rect class="bar" x="70px" y="260px" width="40px" height="140px" />
				<rect class="bar" x="120px" y="310px" width="40px" height="90px" />
				<rect class="bar" x="170px" y="240px" width="40px" height="160px" />
				<rect class="bar" x="220px" y="290px" width="40px" height="110px" />
			</svg>

		</div>
	</body>
</html>