<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Test</title>
		<!-- templates -->
		
		<script type="text/template" id="badgeViewTemplate">

		</script>

		<script type="text/template" id="pointannotationViewTemplate">

		</script>

		<script type="text/template" id="textannotationViewTemplate">
			<%= text %>
		</script>

		<script type="text/template" id="howtoItemTemplate">
			<%= action %> <%= variable %>
		</script>

		<script type="text/template" id="spinnerTemplate">
		</script>

		<script type="text/template" id="commentViewTemplate">
			<div class="assistance-comment__comment-metadata">
				<div class="assistance-comment__comment-metadata-name"><%= user_name %></div>
				<img class="assistance-comment__comment-metadata-avatar" src="<%= avatar_url %>"/>
				<div class="assistance-comment__comment-metadata-date"><%= hr_timestamp %></div>
				<div class="assistance-comment__comment-metadata-edit-delete"></div>
				<div class="assistance-comment__comment-metadata-show-annos" data-action="show-annotations">
				<i class="icon-eye-open assistance-comment__comment-metadata-show-annos_icon"></i> Show annotations
				</div>
				<div class="assistance-comment__comment-metadata-reply" data-action="reply">
				<i class="icon-reply assistance-comment__comment-metadata-reply_icon"></i> Reply to comment</div>
				<div class="assistance-comment__comment-metadata-voting">
				Vote for comment:
					<div class="assistance-comment__comment-metadata-voting_up" data-action="vote-up"><i class="icon-thumbs-up"></i> Agree</div>
					<div class="assistance-comment__comment-metadata-score"><%= hr_score  %></div>
					<div class="assistance-comment__comment-metadata-voting_down" data-action="vote-down"><i class="icon-thumbs-down"></i> Disagree</div>
				</div>
			</div>
			<div class="assistance-comment__comment-content">
				<%= text %>
			</div>
		</script>

		<script type="text/template" id="baseViewTemplate">
			<h2 class="assistance-base__headline">Headline</h2>
			<span class="assistance-base__close" data-action="close"><i class="icon-remove icon-large"></i> Close</span>
			<p class="assistance-base__explanation">Some explanations maybe</p>
			<div class='assistance-base__content'>
			</div>
		</script>

		<script type="text/template" id="panelViewTemplate">
			<div class="assistance-comic__panel-wrapper">
				<img class="assistance-comic__panel-image" src="<%= image_url %>" alt="picture"/>
			</div>
			<div class="assistance-comic__panel-caption">
				<div class="assistance-comic__panel-caption-content"><%= caption %>
				</div>
			</div>
		</script>

		<script type="text/template" id="comicViewTemplate">
		
		</script>

		<script type="text/template" id="listViewTemplate">
			<div class="assistance-howto__list-content">
			</div>
		</script>

		<!-- stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/style.css" />
		<!-- libraries -->
		<script src="libs/jquery.js"></script>
		<script src="libs/jquery-ui-core.js"></script>
		<script src="libs/imagesloaded.js"></script>
		<script src="libs/underscore.js"></script>
		<script src="libs/backbone.js"></script>
		<script src="libs/backbone.marionette.js"></script>
		<script src="libs/d3.js"></script>
		<script src="libs/d3-plugin.js"></script>
		<script src="libs/moment.js"></script>
		<script src="libs/numeral.min.js"></script>
		<script src="libs/sinon.js"></script>
		<!-- models -->
		<script src="libs/models/AssistanceHowtoItemModel.js"></script>
		<script src="libs/models/AssistancePanelModel.js"></script>
		<script src="libs/models/AssistanceOperationPanelModel.js"></script>
		<script src="libs/models/AssistancePanelCollection.js"></script>
		<script src="libs/models/AssistanceHowtoCollection.js"></script>
		<script src="libs/models/AssistanceAnnotationElementModel.js"></script>
		<script src="libs/models/AssistanceAnnotationModel.js"></script>
		<script src="libs/models/AssistanceAreaAnnotationModel.js"></script>
		<script src="libs/models/AssistanceDatapointAnnotationModel.js"></script>
		<script src="libs/models/AssistanceTextAnnotationModel.js"></script>
		<script src="libs/models/AssistanceAnnotationCollection.js"></script>
		<script src="libs/models/AssistanceCommentModel.js"></script>
		<script src="libs/models/AssistanceCommentCollection.js"></script>
		<script src="libs/models/AssistanceCommentBadgeModel.js"></script>
		<script src="libs/models/AssistanceCommentBadgeCollection.js"></script>
		<script src="libs/views/AssistanceSpinner.js"></script>
		<!-- howto views -->
		<script src="libs/views/AssistanceBaseView.js"></script>
		<script src="libs/views/AssistancePanelView.js"></script>
		<script src="libs/views/AssistanceCaptionPanelView.js"></script>
		<script src="libs/views/AssistanceOperationPanelView.js"></script>
		<script src="libs/views/AssistanceComicBaseView.js"></script>
		<script src="libs/views/AssistanceHowtoItemView.js"></script>
		<script src="libs/views/AssistanceHowtoListView.js"></script>
		<script src="libs/views/AssistanceComicView.js"></script>
		<!-- comment views -->
		<script src="libs/views/AssistanceDatapointAnnotationView.js"></script>
		<script src="libs/views/AssistanceTextAnnotationView.js"></script>
		<script src="libs/views/AssistanceAreaAnnotationView.js"></script>
		<script src="libs/views/AssistanceCommentView.js"></script>
		<script src="libs/views/AssistanceReadCommentsView.js"></script>
		<script src="libs/views/AssistanceCommentBadgeView.js"></script>
		<!-- mock apis -->
		<script type="text/javascript">
			var fake_server = sinon.fakeServer.create();
			fake_server.autoRespond = true;
			fake_server.autoRespondAfter = 500;

			fake_server.respondWith( /componentCapability/, function(xhr){
				var data = {
				    "result": "http://baconmockup.com/1000/750/",
				    "operations": [{
				        "url": "http://s10.postimg.org/fc6iv6rp5/testimage.png",
				        "bbox": [42.14, 15.35, 48.97, 44.76],
				        "operation": "click"
				    }
				    , {
				        "url": "http://s2.postimg.org/zdbyhgfk9/testimage2.png",
				        "bbox": [ 48.16, 25.91, 44.57, 45.3 ],
				        "operation": "double click"
				    }
				        ]
				};
				xhr.respond( 200, { "Content-Type": "application/json" }, JSON.stringify( data ) );
			});

			fake_server.respondWith( /componentComments/, function(xhr) {
				var data = [{
					    "comment_id": "asdfasdf",
					    "component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"dataset_id": "testdataset",
					    "user_id": "mark",
						"user_name": "Mark Zuck",
						"avatar_url": "http://www.biography.com/imported/images/Biography/Images/Profiles/Z/Mark-Zuckerberg-507402-1-402.jpg",
						"visualized_properties": [],
						"component_memento": {},
						"timestamp": 223789523,
						"text": "Bacon ipsum dolor sit amet drumstick spare ribs pork chop ground round, tongue ham pork belly brisket shoulder chuck chicken filet mignon. Shank pork chop tail, pig pastrami pork loin kielbasa ham strip steak sausage leberkas ribeye corned beef drumstick pork belly. Drumstick beef pork chop, pork loin pork belly beef ribs filet mignon turducken ball tip ribeye pig cow. Corned beef strip steak pork bresaola, frankfurter doner brisket chuck t-bone spare ribs. Hamburger sausage andouille, filet mignon short ribs venison flank pastrami ground round tri-tip strip steak turkey drumstick capicola. Ball tip rump corned beef strip steak pork ground round pancetta swine. Shankle sirloin pastrami salami capicola beef. Frankfurter meatball pancetta shoulder flank sirloin. Tongue ground round jerky filet mignon hamburger sirloin pastrami swine jowl prosciutto. Shoulder spare ribs corned beef pork swine tenderloin doner turducken.",
						"number": 1,
						"score": 124524213,
						"annotations": [{
							"type": "point",
							"uri": "testinstance1",
							"values": {
								"testproperty1": 423,
								"testproperty2": true
							} }, {
					        "type": "area",
					        "visualization_width": 400,
					        "visualization_height": 400,
					        "elements": [
					            {
					                "type": "text",
					                "x": 22,
					                "y": 50.5,
					                "text": "OLOLZ"
					            }
					        ]
						}]
					}, {"comment_id": "sdfgsdfg",
					    "component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"dataset_id": "testdataset",
					    "user_id": "donald",
						"user_name": "Donald Knuth",
						"avatar_url": "http://computersciencepodcast.com/guests/donald-knuth.png",
						"visualized_properties": [],
						"component_memento": {},
						"timestamp": 123789523,
						"text": "Taro mung bean lotus root celery peanut salad sorrel daikon gumbo bamboo shoot winter purslane pea soybean salsify kale. Catsear salsify mung bean avocado radicchio chickweed okra lettuce quandong chickpea collard greens komatsuna arugula garbanzo soybean bell pepper. Amaranth welsh onion horseradish gumbo parsley tomato.",
						"number": 1,
						"score": 12,
						"annotations": [{
							"type": "point",
							"uri": "testinstance1",
							"values": {
								"testproperty1": 423,
								"testproperty2": true
							}
						},{
					        "type": "area",
					        "visualization_width": 400,
					        "visualization_height": 400,
					        "elements": [
					            {
					                "type": "text",
					                "x": 22,
					                "y": 50.5,
					                "text": "OLOLZ"
					            }
					        ]
						}]}, {"comment_id": "dfghdfgh",
					    "component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"dataset_id": "testdataset",
					    "user_id": "ronald",
						"user_name": "Ronald McDonald",
						"avatar_url": "http://www.brandchannel.com/images/Forum/152_debate_mcdonalds_02.jpg",
						"visualized_properties": [],
						"component_memento": {},
						"timestamp": 123789999,
						"text": "lol",
						"number": 1,
						"score": -1,
						"annotations": [{
							"type": "point",
							"uri": "testinstance2",
							"values": {
								"testproperty1": 423,
								"testproperty2": true
							}
						},{
					        "type": "area",
					        "visualization_width": 400,
					        "visualization_height": 400,
					        "elements": [
					            {
					                "type": "text",
					                "x": 22,
					                "y": 50.5,
					                "text": "OLOLZ"
					            }
					        ]
						}]}
						];
				xhr.respond( 200, { "Content-Type": "application/json"}, JSON.stringify( data ) );
			});
		</script>
		<!-- do actual things -->
		<script type="text/javascript">
			$( document ).ready( function() {

				$( ".button#showcomments" ).click( function() {
					var comments = new assistance.CommentCollection([], {
						"url": "componentComments"
					});
					console.log( comments );
					var comment_view = new assistance.ReadCommentsView({
						"collection": comments,
						"component": "#barchart"
					});
					var commentbase = new assistance.BaseView({
						"type": "readcomment",
						"component": "#barchart"
					});
					commentbase.content.show( comment_view );
				});


				$( ".button#instructions" ).click( function() {
					var item = new assistance.HowtoItem({
						"component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"action": "sort",
						"variable": "player",
						"capability": "cap01",
						"elements": "button",
						"component": "#barchart",
						"visualization": "svg"
					});
					var item2 = new assistance.HowtoItem({
						"component_id": "http://mmt.inf.tu-dresden.de/VizBoard/Something",
						"action": "display",
						"capability": "cap02",
						"elements": "rect:nth-child(odd)",
						"component": "#barchart",
						"visualization": "svg"
					});
					var items = new assistance.HowtoCollection();
					items.add( item );
					items.add( item2 );
					var listbase = new assistance.BaseView({
						"type": "howto",
						"component": "#barchart"
					});
					var list = new assistance.HowtoListView({
						"collection": items,
						"itemView": assistance.HowtoItemView,
						"model": assistance.HowtoItem
					});
					listbase.content.show( list );
				});
			});
		</script>
	</head>
	<body>
		<h1>hooray for backbone</h1>

		<div class="button" id="instructions">show howto</div>
		<div class="button" id="showcomments">show comments</div>

		<div id="barchart">
			<div class="aside" style="float:right;">
				<ul>
					<li>I am </li>
					<li>the list</li>
					<li>of five</li>
					<li>Items and</li>
					<li>two words.</li>
				</ul>
				<button type="submit" value="hello">hello</button>
			</div>
			<svg style="top: 5px;margin-top: -30px;left: 30px;position:absolute;" width="300" height="400">
				<rect resource="testinstance1" class="bar" x="20px" y="120px" width="40px" height="280px" transform="rotate(2)"/>
				<rect resource="testinstance2" class="bar" x="70px" y="260px" width="40px" height="140px" transform="rotate(-1)"/>
				<rect resource="testinstance3" class="bar" x="120px" y="310px" width="40px" height="90px" />
				<rect resource="testinstance4" class="bar" x="170px" y="240px" width="40px" height="160px" />
				<rect resource="testinstance5" class="bar" x="220px" y="290px" width="40px" height="110px" />
			</svg>

		</div>
	</body>
</html>