div#barchart {
	width: 420px;
	height: 420px;
	border: 1px solid black;
	background: white;
}

rect {
	fill: steelblue;
}

rect:hover {
	fill: orange;
}

/* ################################### */
body {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 20px;
}

.assistance-howto__item {
	background-color: #16161D;
	color: white;
	width: 80%;
	position:relative;
}

.assistance-howto__item:hover {
	background-color: white;
	color: #16161D;
	cursor: pointer;
}

.assistance-base__headline {
	padding-left: 1rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid white;
}

.assistance-base__close {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.assistance-base__close:hover {
	background-color: white;
	color: #16161D;
	cursor: pointer;
}

.assistance-base {
	background-color: #16161D;
	color:white;
	width: 20rem;
	height: 30rem;
	border-radius: 5%;
	position: absolute;
}

.assistance-base__content {
	margin: 1rem;
}

.vizboard-copy {
	border: 1px solid orange;
}

.vizboard-rootcopy {
	position: absolute; !important
}

div.vizboard-ground {
	background-color: black;
	opacity: 0.75;
	position: absolute;
}