div#barchart {
	width: 500px;
	height: 420px;
	border: 1px solid black;
	background: white;
}

rect {
	fill: steelblue;
}

rect:hover {
	fill: orange;
}

/* ################################### */
body {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 20px;
}

.assistance-howto__item {
	background-color: #16161D;
	color: white;
	width: 80%;
	position:relative;
}

.assistance-howto__item:hover {
	background-color: white;
	color: #16161D;
	cursor: pointer;
}

.assistance-base__headline {
	padding-left: 1rem;
	padding-bottom: .5rem;
	border-bottom: 2px solid white;
}

.assistance-base__explanation {
	margin: 1rem;
}

.assistance-base__close {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.assistance-base__close:hover {
	background-color: white;
	color: #16161D;
	cursor: pointer;
}

.assistance-base {
	background-color: #16161D;
	color:white;
	width: 20rem;
	height: 30rem;
	border-radius: 5%;
	position: absolute;
}

.assistance-comic {
	background: rgba(22, 22, 29, 0.75);
	color:white;
	position: absolute;
}

.assistance-base__content {
	margin: 1rem;
}

.vizboard-copy {
	border: 1px solid orange;
}

.vizboard-rootcopy {
	position: absolute; !important
}

div.vizboard-ground {
	background-color: black;
	opacity: 0.75;
	position: absolute;
}

div.assistance-comic__content {
	 display: -webkit-flex;
   	-webkit-justify-content: center;
   	-webkit-align-items: baseline;
}

div.assistance-comic__panel {
	float: left;
	margin: .5rem;
	-webkit-flex: 1;
}

img.assistance-comic__panel-image {
	width: 100%;
	height: auto;
}

div.assistance-comic__panel-caption {
	background: #FFF;
	color: #000;
	width: 100%;
	height: 30px;
	outline: 2px solid #000;
	font-size: 12px;
	text-align: center;
}